<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictures Day</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../css/index.css" type="image/x-icon">
</head>
<body>
    <div class="container-conteudo">

        <main>

            <section>
                <div class="container-conteudo-principal">

                    <div class="caixa-do-titulo">
                        <!-- <h1 id="titulo-texto" class="titulo-imagem">Seja muito bem vindo!</h1> -->
                    </div>

                    <div class="caixa-da-imagem">
                        <!-- <img class="imagem-de-error" src="../img/sad.png" alt="error-nao-encontrado"> -->
                        <!-- <img class="imagem-btn-descricao" src="../img/descricao-do-trabalho (1).png" alt="botao-de-descricao"> -->
                        <!-- <object width="400" height="300" data="https://www.youtube.com/embed/FiCiRkkfxhM"></object> -->
                    </div>
                    
                </div>

            </section>

            <section>
                <div class="container-conteudo-secundario">

                    <div class="caixa-do-formulario">

                        <form class="formulario-date">
                            <label for="data-do-evento">Insira a data que deseja:</label>
                            <input type="date" id="data-usuario" class="form-data">
                            <button id="botao-formulario" class="btn-enviar">Enviar</button>
                        </form>
                        
                    </div>

                </div>
            </section>
        </main>

    </div>
<script src="../js/controllers/fetchApi.js"></script>    
</body>
</html>