@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url("../img/raphael-nogueira-svbDI1Pq30s-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 250vh;
}

/* Estlização do conteudo primario */

.container-conteudo-principal {
    margin: 10rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.titulo-imagem {
    color: #fff;
    text-align: center;
}

.imagem-do-conteudo {
    width: 39vh;
    height: 39vh;
    border: 4px #fff solid;
}

.video-conteudo {
    border: 4px #fff solid;
    margin: 0 0 3rem 0;
    width: 25rem;
    height: 15rem;
}

.imagem-btn-descricao {
    position: relative;
    right: 2rem;
    top: -20rem;
    width: 2vh;
    height: 2vh;
}

/* Estilização do conteudo secundario */

.galaxia-img {
    border: 3px #8727ad solid;
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
}

.container-conteudo-secundario {
    display: flex;
    justify-content: center;
}

.caixa-do-formulario {
    position: absolute;
    bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    background-color: #242424;
    padding: 4%;
    width: 80%;
    border-radius: 4%;
}

.formulario-date {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

label {
    margin: -0.5rem 0 0 0;
    font-family: 'Lilita One', cursive;
    color: #fff;
}

.form-data {
    color: #fff;
    background: #242424;
    border: none;
    border-bottom: 2px #8727ad solid;
    font-family: 'Lilita One', cursive;
}

.btn-enviar {
    font-family: 'Lilita One', cursive;
    padding: 2px;
    margin: 6px 0 0 0;
    border: #8727ad;
    background: #8727ad;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

.btn-enviar:hover {
    background: #1c9e18;
    transition: all 450ms ease-in-out;
}

/* Responsivo  */

@media (min-width: 714px) {

    .imagem-do-conteudo {
        width: 70vh;
        height: 70vh;
        margin: 0 0 15rem 0;
    }

    .caixa-do-formulario {
        padding: 2%;
        width: 50%;
        justify-content: center;
        bottom: -11rem;
    }
}

@media (max-width: 580px) {
    .caixa-do-formulario {
        width: 66%;
        padding: 6%;
    }
}

@media (max-width: 280px) {
    .caixa-do-formulario {
        width: 90%;
        padding: 6%;
    }
}
